<div class="row">

</div>
<div class="row">

            <div class="col-md-5">
                <div class="form-box">
                    <h2>   App </h2>
                    
                    
                        <%if(error){%>
                        <%=error%>
                        <% }%>
                        <%if(error_msg){%>
                        <%=error_msg%>
                        <% }%>
                        <%if(success_msg){%>
                        <%=success_msg%>
                        <% }%>
                    <p>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                STEPS :
                                 
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                1. Register
                                 
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                2. Login
                            </li>
                            
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <div class="form-box" id="fblogin">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Sign In </h3>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div> 
                    <div class="form-bottom">
                        <form role="form" id="login_form" name="login_form" action="/login" method="post" class="registration-form">
                            <div class="form-group ">
                                <label class="sr-only" for="email">Email</label>
                                <input type="text" name="username" id="username" placeholder="username..." class="form-control" title="username.">
                            </div>
                             <% if(errors.username) {%>
                                <div class="alert alert-danger"><%=errors.username.msg%></div>
                                <%}%>
                            <div class="form-group ">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" name="password" id="password" placeholder="password..." class="form-control" title="Password."> 
                            </div>
                            <% if(errors.password) {%>
                                <div class="alert alert-danger"><%=errors.password.msg%></div>
                            <%}%>

                            <button type="submit" class="btn btn-primary btn-sm">Sign in</button>
                            
                        </form>
                    </div>
                </div>
                
            </div>
            <hr>
            <!-- <footer>