 <div class="row">
 <div class="col-md-5"><h1>Update User</h1></div>
 </div>
 <div class="row">
 <div class="col-md-2"></div>
 <div class="col-md-5">

            <div class="form-bottom">
                        <form role="form"   name="edit-form" action="/users/update/<%=userList._id%>" method="post" class="registration-form">
                         <div class="form-group">
                                <label  for="first_name">First name</label>
                                <input type="text" name="first_name" value="<%=userList.firstName%>" class="form-first-name form-control" id="first_name" title="First name">
                                 
                            </div>
                            <div class="form-group">
                                <label  for="last_name">Last name</label>
                                <input type="text" name="last_name" value="<%=userList.lastName%>"  class="form-control" id="last_name" title="Last name">
                                 
                            </div>
                            <div class="form-group ">
                                <label  for="user_email">Email</label>
                                <input type="text" name="user_email" value="<%=userList.email%>"  class="form-control" id="user_email" title="Email will be used as username.">
                                  
                            </div>
                             <div class="form-group ">
                                <label  for="username">Username</label>
                                <input type="text" name="username" value="<%=userList.username%>"  class="form-control" id="username" title="Email will be used as username.">
                                  
                            </div>
                             
                             <div class="form-group ">
                                
                                 <input type="hidden"    value="<%=userList._id%>" name="_id"  >
                            </div> 
                            <div class="form-group ">
                                 <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </div> 
                        </form>
                    </div>


    </div>
    <div class="col-md-5"></div>
</div>